.print-body {
  display: flex;
  padding: 10px;
  flex-direction: column;
}
.main-body {
  display: flex;
  flex-direction: row;
  background-color: rgb(32, 15, 100);
  background-size: cover;
  height: 97vh;
  max-width: 100vw;
  padding: 10px;
  position: fixed;
}

.nav-bar {
  display: flexmin-;
  flex-direction: column;
  align-items: center;
  background-color: #000080;
  color: #ffffff;
  border: 1px solid;
  border-top-left-radius: 15px;
  padding: 10px;
}

.container-box {
  display: flex;
  background-color: #ffffff;
  background-size: cover;
  padding: 10px;
  width: 85vw;
  margin-left: 3px;
  border: 1px solid;
  border-color: #000080;
}
